<section class="container centered">
    <div class="contact" id="contact">
        <h1 class="header">Contact</h1>
        <p class="header-description">
            If you want to know about me or the projects I'm working on, you can write me, or maybe we can work together on some exciting project 🚀
        </p>
        <form>
            <input type="checkbox" name="_honeypot" style="display: none" tabindex="-1" autocomplete="off">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" id="name" placeholder="Name *">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" placeholder="Email *">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" id="phone" placeholder="Phone">
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <input type="company" class="form-control" id="company" placeholder="Company">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <textarea class="form-control" id="message" rows="4" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</section>