<section class="container container-projects centered">
    <div class="row">
        <div class="projects" id="projects">
            <h1 class="header">{{ .Site.Params.ProjectsSectionName }}</h1>
            <p class="header-description">{{ .Site.Params.ProjectsSectionDescription }} 🤓</p>
        </div>
    </div>
    <div class="row row-projects">
        <div class="col">
            <img src="{{ .Site.Params.projects_images_dir }}/baigene_logo.png" />
            <p><span class="label label-dark">BioTech</span><span class="label label-light">Ecommerce</span></p>
            <p><span class="label label-normal">FullStack</span><span class="label label-normal">AngularJS</span></p>
            <p><span class="label label-normal">Wordpress</span><span class="label label-normal">Python</span></p>
        </div>
        <div class="col">
            <img src="{{ .Site.Params.projects_images_dir }}/isban_logo.png" />
            <p><span class="label label-dark">FinTech</span><span class="label label-light">CRM</span></p>
            <p><span class="label label-normal">FrontEnd</span><span class="label label-normal">AngularJS</span></p>
        </div>
        <div class="col">
            <img src="{{ .Site.Params.projects_images_dir }}/group4layers_logo.png" />
            <p><span class="label label-dark">Consulting</span><span class="label label-light">I+D+i</span></p>
            <p><span class="label label-normal">Mentorship</span><span class="label label-normal">Founder</span></p>
            <p><span class="label label-normal">ProjectManagement</span></p>
        </div>
        <div class="col">
            <img src="{{ .Site.Params.projects_images_dir }}/council_bcn_logo.png" />
            <p><span class="label label-dark">Public</span><span class="label label-light">ManagerTool</span></p>
            <p><span class="label label-normal">FrontEnd</span><span class="label label-normal">Angular5</span></p>
        </div>
        <div class="col">
            <img src="{{ .Site.Params.projects_images_dir }}/finder_logo.png" />
            <p><span class="label label-dark">Personal</span><span class="label label-light">Data</span></p>
            <p><span class="label label-normal">FullStack</span><span class="label label-normal">Angular5</span></p>
            <p><span class="label label-normal">Symfony</span><span class="label label-normal">PHP</span></p>
        </div>
        <div class="col">
            <img src="{{ .Site.Params.projects_images_dir }}/drinksandco_logo.png" />
            <p><span class="label label-dark">Marketplace</span><span class="label label-light">Ecommerce</span></p>
            <p><span class="label label-normal">BackEnd</span><span class="label label-normal">PHP</span></p>
            <p><span class="label label-normal">QA</span><span class="label label-normal">Databases</span></p>
        </div>
    </div>
</section>